{% extends 'base.html' %} {% block content %}
<div class="column">
	<section class="hero is-dark ">
		<div class="hero-body">
			<div class="container">
				<h1 class="title">Steem Apps</h1>
			</div>
		</div>
	</section>
	<section class="article">
		<a><h2 class="title is-2">Steem Apps</h2></a>
		<p>Steem Apps is a collection of open-source applications for the <a href="https://steemit.com" target="_blank">Steemit</a> platform. The code of the applications and this website can be found on <a href="https://github.com/Kasperfred/steem-apps" target="_blank">Github</a>.</p>
		<p></p>

		<hr>

		<a href="{{url_for('tagsearch.index')}}"><h2 class="title is-2">Steem Tag Search</h2></a>
		<p>Steem Tag Search was born from a need for easier being able to discover great content from Steemit authors.</p>
		<a href="{{url_for('tagsearch.index')}}"><img src="https://steemit-production-imageproxy-upload.s3.amazonaws.com/DQmXwa2nZCZ6CFfbMJADaXozu5gD3RTaDrd1G2zrsFFNNiN"></a>
		<p>Using Steem Tag Search lets you filter content using advanced queries combining multiple authors and tags with ease, and discover new authors based on your interests with the selected authors program</p>
		<p>You can try Steem Tag Search <a href="{{url_for('tagsearch.index')}}">Here</a>.</p>

		<br><hr><br>
	</section>
</div>
{% endblock %}