{% extends 'base.html' %}

{% block content %}
<div class="column">
<section class="hero is-dark">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        <a href="{{url_for('index')}}">Steemit Tag Search</a>
      </h1>
      <h2 class="subtitle">
        <a href="{{url_for('whats_new')}}">What's new?</a>
      </h2>
    </div>
  </div>
</section>
<section class="article">
	<h1 class="title is-1">v1.1</h1>
	<p>After about a week online, this is the first major update.</p>
	<p>This version doesn't have a lot of new features as I most of my time has gone into making the application faster, and more stable. Therefore, not all feature requests were implemented, but I still have them on my list, and take new requests.</p><p>The development of this application continues to be throttled as I'm working on other steemtools.</p>
	<ul>
		<li><p><span class="tag is-info">Performance</span> Improved load times dramatically. (Thanks <a target="_blank" href="https://steemit.com/@teambuktu">@teambuktu</a> for the help).</p></li>
		<li><p><span class="tag is-success">Feature</span> Search for multiple authors and tags in the same query. <a target="_blank" href="/tagsearch?tag=steem+programming&author=kasperfred+papa-pepper">Try it</a>!</p></li>
		<li><p><span class="tag is-success">Feature</span> Introducing <a target="_blank" href="{{url_for('selected_authors')}}">Selected Authors</a> program.</p></li>
		<li><p><span class="tag is-warning">Bugs</span> A few minor bugfixes.</p></li>
		<li><p><span class="tag is-light">Misc</span> Redesigned the UI.</p></li>
		<li><p><span class="tag is-light">Misc</span> New url: <a href="https://steem.kasperfred.com/tagsearch">steem.kasperfred.com/tagsearch</a></p></li>
	</ul>
	<p>Read the announcement article on <a target="_blank" href="https://steemit.com/steemit/@kasperfred/steem-tag-search-v1.1-update">Steemit</a></p>

	<br><hr><br>

	<h1 class="title is-1">v1.0</h1>
	<p>Initial release</p>
	<p>While it is still a little rough, and very slow, it has all the core functionality.</p>
	<ul>
		<li><p><span class="tag is-success">Feature</span> Filter Steemian writers' content by the tags they use.</p></li>
		<li><p><span class="tag is-success">Feature</span> Use <b>TagCloud</b> to discover new tags by your favorite writers.</p></li>
	</ul>
	<p>Read the initial announcement article on <a target="_blank" href="https://steemit.com/steemit/@kasperfred/introducing-steem-tag-search">Steemit</a></p>

	<br>
</section>
</div>
{% endblock %}
